head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="description", content="Subscribe to connect with other passionate fans and get exclusive high-quality content")
  meta(name="keywords", content="design, project, organizzation, idea, prototype, professionals")
  meta(name="author", content="Roman Horokhovatskyy")
  meta(name="robots", content="noindex nofollow")
  title Learnform
  link(rel="stylesheet", href="css/style.css")
