head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="white")
  meta(name="apple-mobile-web-app-title", content="")
  meta(name="mobile-web-app-capable", content="yes")
  meta(name="theme-color", content="#FFDF44")

  meta(name="msapplication-tap-highlight", content="no")

  meta(name="description", content="Subscribe with #{title} to connect with other passionate fans and get exclusive high-quality content")
  meta(name="keywords", content="design, project, organizzation, idea, prototype, professionals")
  meta(name="author", content="Roman Horokhovatskyy")
  meta(name="robots", content="noindex nofollow")
  title #{title}
  link(rel="stylesheet", href="css/style.css")
