- title = 'Learnform'
- description = 'Subscribe to our service to connect with other passionate fans and get exclusive high-quality content'
- keywords = 'design, project, organizzation, idea, prototype, professionals'
- author = 'Roman Horokhovatskyy'
- twitter = '@h0r0man'
- cover = 'media/artwork.jpg'
