footer.footer
  div.contain
    nav.social
      h1.vh Social links
      a(href="#", target="_blank")
        span.vh Twitter
        svg.icon
          use(xlink:href="#icon-twitter")
      a(href="#", target="_blank")
        span.vh Facebook
        svg.icon
          use(xlink:href="#icon-facebook")
      a(href="#", target="_blank")
        span.vh Instagram
        svg.icon
          use(xlink:href="#icon-instagram")
    div.copy
      p &copy; 2016 Learnform
