section.hero
  div.headline.contain
    h1 Eye on Design
    h2 For the past 10 years, we has celebrated, lauded, applauded, championed, cheered, awarded, supported, and (most of all) loved great design.
    a.button(href="#pricing") Sign up now!
  span.bg
