//- Quattro colone

section.layout-2
  div.headline.contain
    h1 Get your organization on board
    h2 Hundreds of businesses, schools and community organizations use our service for organizations to fuel their successful training programs and keep their workforce sharp.
  div.contain
    div.columns.four
      article.column
        h1 Idea
        p Give you access to all courses, workshops, and conferences within our library.
        figure
          svg.icon
            use(xlink:href="#icon-lightbulb")

      article.column
        h1 Project
        p Manage members across multiple teams with self-defined departments and admins. 
        figure
          svg.icon
            use(xlink:href="#icon-pencil")
      
      article.column
        h1 Design
        p Take in a workshop or complete a course segment in 20 minutes or less from virtually anywhere.
        figure
          svg.icon
            use(xlink:href="#icon-tools")
      
      article.column
        h1 Prototype
        p Connect and share knowledge with professionals worldwide.
        figure
          svg.icon
            use(xlink:href="#icon-gears")
