//- Due colone

section#features.layout-1
  div.headline.contain
    h1 How it works
    h2 Subscribe to connect with other passionate fans and get exclusive high-quality content. Plus, you’ll be supporting your favorite artist or collective. Legit.
  div.contain
    div.columns.two
      article.column
        h1 Be in the know
        p Designers, developers and creatives from all over the globe are responsible for the work you see across our ecosystem.
        figure
          //- img(src="http://placehold.it/200", srcset="http://placehold.it/200 1x, http://placehold.it/400 2x, http://placehold.it/600 3x", alt="Be in the know")
          svg.icon
            use(xlink:href="#icon-global")
        
      article.column
        h1 The best club
        p A pioneer in creative and development education, and a one-stop shop for millions of designers with a range digital assets.
        figure
          //- img(src="http://placehold.it/200", srcset="http://placehold.it/200 1x, http://placehold.it/400 2x, http://placehold.it/600 3x",alt="The best club")
          svg.icon
            use(xlink:href="#icon-heart")
