//- Due colone

section#features.layout-1
  div.headline.contain
    h1 How it works
    h2 Subscribe to connect with other passionate fans and get exclusive high-quality content. Plus, you’ll be supporting your favorite artist or collective. Legit.
  div.contain
    div.columns.two
      article.column
        h1 Be in the know
        p From the best professionals all round the world, it lands here first.
        figure
          //- img(src="http://placehold.it/200", srcset="http://placehold.it/200 1x, http://placehold.it/400 2x, http://placehold.it/600 3x", alt="Be in the know")
          svg.icon
            use(xlink:href="#icon-global")
        
      article.column
        h1 The best club
        p Hang out with the creators you love and the people who love them.
        figure
          //- img(src="http://placehold.it/200", srcset="http://placehold.it/200 1x, http://placehold.it/400 2x, http://placehold.it/600 3x",alt="The best club")
          svg.icon
            use(xlink:href="#icon-heart")
