section.newsletter
  div.contain
    div.columns.two
      div.column
        h1.vh Newsletter
        h2 Subscribe to get the best news and stories delivered to your inbox every Monday morning and start the week off right.
      div.column
        form.form
          label.vh(for="newsletter") Subscribe for updates
          input.input#newsletter(type="email", name="email", placeholder="Email address")
          br
          button.button(type="submit") Subscribe
