section#pricing.pricing
  div.headline.contain
    h1 Pricing

  div.contain
    div.columns.two
      article.column
        div.price
          h1 Basic Plan
          span &euro; 9.99
        ul
          li.yes Learn projects with access to 1000+ videos
          li.yes Practice live with our Code Challenge Engine
          li.no Get help in our professional channels
          li.no Watch talks from industry leaders
        a.button(href="#") Buy a Basic Plan

      article.column
        div.price
          h1
            | Pro Plan
            span.featured Recommended

          span &euro; 19.99
        ul
          li.yes Learn projects with access to 1000+ videos
          li.yes Practice live with our Code Challenge Engine
          li.yes Get help in our professional channels
          li.yes Watch talks from industry leaders
        a.button(href="#") Buy a Pro Plan
