doctype html
html.no-js(lang="en")
  include globals/head.jade
  body
    include components/icons.html
    include components/topbar.jade
    
    //- START

    include components/hero.jade
    include components/layout-1.jade
    include components/layout-2.jade
    include components/pricing.jade
    include components/newsletter.jade
    
    //- END

    include components/footer.jade
    include globals/foot.jade
